body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.layout {
  display: flex;
  min-height: 100vh;
}

.layout-left {
  width: 60%;
  padding: 130px 0 130px 260px;
}

.layout-right {
  width: 40%;
  /* flex-shrink: 0; */
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 156px;
}

.badge {
  display: inline-block;
  padding: 5px 15px;
  background-color: rgb(17, 63, 226, 0.1);
  color: #113fe2;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  width: 457px;
  line-height: auto;
  color: #0a1b59;
  line-height: 66px;
  margin-bottom: 15px;
}

.subheading {
  width: 457px;
  color: rgb(10, 27, 89, 0.6);
  line-height: 32px;
  font-size: 16px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  width: 60%;
}

.form-input {
  width: 390px;
  height: 52px;
  padding: 0 20px;
  margin-right: 16px;
  border: rgb(10, 27, 89, 0.2) solid 1px;
  border-radius: 8px;
}

.form-button {
  padding: 10px 30px;
  background-color: #113fe2;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  flex-shrink: 0;
}

.form-info {
  width: 541px;
  color: rgb(10, 27, 89, 0.6);
  font-size: 12px;
  line-height: 24px;
}
